/*****************************************************
   Web Design by Alex ShortHouse, Kevin Gregory, Marianella Rydzewski
   Candidates for Master Science in Information Technology 
   CS 530 : Software Engineering
   Central Connecticut State University
   Digital Farmington Project 
   November 2014
 */ 

 
body {
	background: url(../images/bgContent.png) repeat-x scroll center bottom #fff;
	color:#454855;
	font-size: 0.625em; /* sets Font Size so that 1em = 10px, 1.2em = 12px, 2em = 20px and so on */
	font-family: Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
}
 
 
#centerbg {
background: #ffffff ; 
width:980px;
margin:0 auto;

}

#page { background: #ffffff url(../images/rydcenter.jpg) repeat-y top; 
        margin: 0 auto;
        width: 980px;

}

p.titleNameMap { 

border-bottom-style: solid;
border-bottom-color:#ee741f;


}


/******************** Headers *****************************/
h1
{
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	padding: 0;
	margin: 0 0 20px;
	font-size: 2.4em;
	color:#333;
}

h2
{
	padding:0;
	margin: 10px 0 0;
	font-size: 2em;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:normal;
	color:#333;
}

h3 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.8em;
	line-height: 120%;
	margin: 0 0 10px;
	padding: 0;
	font-weight: normal;
	color:#333;
}

h4 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.3em;
	font-weight:normal;
	color:#A03459;
}

h5 {
	font-size: 1.4em;
	font-weight:bold;
}
/********** left and right outer*******************************/

#sidecenter {
        float: left;
        height: 100%;
        width: 1200px;
		vertical-align:top;
	     padding-left:10px;
		 padding-top:10px;
		 padding-bottom:10px;
		}

#sideright {
        float: right;
        height: 100%;
        width: 230px;
		vertical-align:top;
		margin-right:0px;
        }
/**********    content   *******************************/
#containerIn {
        margin: 0 auto;
        width: 980px;
		height: 100%;
         background: #FFFFFF;
		 border-top-style: solid;
		 border-top-color:#ffffff;
		 border-top-width:3px;		 
		 border-left-style: solid;
		 border-left-color:#CCCCCC;
		 border-left-width:0.5px;
		  border-right-style: solid;
		 border-right-color:#CCCCCC;
		 border-right-width:0.5px;
		 border-bottom-style: solid;
        border-bottom-color:#CCCCCC;
		border-bottom-width:0.5px;
        }
#content1 {
        background-color: #ede9e9 !important;
		border-bottom-style: solid;
        border-bottom-color:#CCCCCC;
		margin: 0 auto;
        width: 940px;
		height: 90%;
	    }		
		
/********************   header   *************************/
#header  {
        background: transparent url(../images/bgBanner.png) no-repeat ;
        margin: 0 auto;
        width: 984px;
		height: 47px;
        }

#header-left  {
background: transparent;
float:left;
text-align:left;
        }

#header-right  {
background: transparent;
width: 250px;
height: 30px;
float:right;
text-align:right;
vertical-align:top;
}

/********** menu botton **********/

#menubottom {
		background: #b3afaf;
		display: block;
		width:940px;
		height:29px;
		margin:0 auto;
		color: #ffffff;
        }
#menubottom-left  {
		float:left;
		 width: 940px;
		text-align:center;
		padding-right:15px;
		vertical-align:bottom;
		}
		
#menubottom-left p {
		padding-top:5px;
		padding-left:35px;
		padding-right:5px;
		color: #ffffff;
		}
#menubottom-left a {
		font-size:11px;
		font-family:verdana, arial, sans-serif; 
		font-weight:bold; 
		text-transform: uppercase;
		color: #ffffff;
        text-decoration: none;
		}
#menubottom-left a:hover {
		font-size:11px;
		font-family:verdana, arial, sans-serif; 
		font-weight:bold; 
		text-transform: uppercase;
		color: #ffffff;
        text-decoration: underline;;
		}
#menubottom-left a:visited {
		font-size:11px;
		font-family:verdana, arial, sans-serif; 
		font-weight:bold; 
		text-transform:uppercase;
		color: #ffffff;
        text-decoration: none;
		}
#menubottom-left a.active {text-decoration:underline;}


#main-text-draw1{
	
	   background-color: #ede9e9 !important;
        height: 100%;
        width: 940px;
		text-align: left;
		vertical-align: top;
		color: #ee741f !important;
        margin-top: 0px;
	    margin-left:20px;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left:0px;
		padding-right:0px;
     
	
	
	}

/********************   footer   *************************/


#footer  {
		background: transparent url(../images/footercatequil.gif) no-repeat ;
        margin: 0 auto;
		width: 900px;
		height: 61px;
		}

	
#footer-center  {
		float:center;
		text-align:center;
		width: 900px;
		height: 41px;
		padding-top:20px;
		padding-left:20px;
		padding-right:20px;
		font-family: verdana, tahoma, arial;
		font-size: 11px;
		color: #bf2e1a;
		}

/********************   underfooter   *************************/
#underfooter  {
	    background: transparent;
		width: 940px;
		margin: 0 auto;
        color: #959595;
		font-size: 7pt;
		margin-top:0px;
		margin-bottom:20px;
		
        }
#underfooterleft {
        float: left;
        width: 720px;
		padding-left:3px;
        }
#underfooterright {
        float: right;
        width: 220px;
		margin-top:2px;
		padding-right:5px;
		text-align:right;
		
        }
		
#underfootercenter {
        float: center;
        text-align:center;
        width: 900px;
		padding-top:5px;
		padding-left:0px;
        color: #e78c13;
		font-size: 8pt;

        }
#underfooter a {
color: #959595;
font-family: verdana, tahoma, arial;
font-size: 9px;
text-decoration: none;
}
#underfooter a:hover {
color: #000000;
font-family: verdana, tahoma, arial;
font-size: 9px;
text-decoration: underline;
}

/**********************share*******************/

.title-container .share-this {
	float: right;
	margin-top: 5px;
}
/*************select year*******/

#selectyear {
 padding-left:10px;
 padding-top:10px;
}